/* Definindo a fonte padrão */
body {
  font-family: 'Segoe UI', sans-serif;
}

/* Estilo do cabeçalho */
h1 {
  font-size: 48px;
  color: #ff5733;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 36px;
  color: #ff5733;
  text-align: center;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.menu-wrapper {
  text-align: center;
}

.select-forma-pagamento {
  display: block;
  margin: 10px auto;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #ff5733;
  color: #444;
  font-family: 'Montserrat', sans-serif;
}

.select-forma-pagamento option {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo do subtítulo */
h3 {
  font-size: 24px;
  color: #ff5733;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo dos formulários */
form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f6e4b6;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #885b06;
}

form input[type='text'],
input[type='number'],
form input[type='date'],
form select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.senha {
  outline: 1px solid #ff5733;
}

form button[type='submit'] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ff5733;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button[type='submit']:hover {
  background-color: #d84315;
}

/* Estilo das tabelas */
.tabela {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.tabela th,
.tabela td {
  padding: 10px;
  text-align: left;
}

.tabela th {
  background-color: #ff5733;
  color: #fff;
  font-size: 18px;
}

.tabela td {
  border-bottom: 1px solid #ddd;
}

.tabela .forma-pagamento div {
  display: inline-block;
}

#tabelaVendas .forma-pagamento .icone-pagamento {
  display: none;
}

/* Estilo do botão do modal */
.btn-primary {
  background-color: #ff5733;
  border-color: #ff5733;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #d84315;
  border-color: #d84315;
}

/* Estilo do modal */
.modal-header {
  background-color: #ff5733;
  color: #fff;
  border-bottom: none;
}

.modal-title {
  font-size: 36px;
}

.modal-body {
  font-size: 18px;
}

.modal-footer {
  border-top: none;
}

/* Estilo do lucro */
#lucro {
  font-size: 24px;
  color: #ff5733;
  font-weight: bold;
}

.ver-relatorio {
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  overflow: hidden;
}

.modal .modal-dialog {
  max-width: 800px;
  margin: 1.75rem auto;
}

.modal-content {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#modalConfirmacao {
  z-index: 1060;
}

.deletar-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  color: #777;
}

.no-margin {
  margin: 0;
}

.infinite-scrolling {
  position: fixed;
  top: 0;

  left: 0;
  z-index: -1; /* Para colocar o elemento atrás do conteúdo */
  background: url('https://static.vecteezy.com/system/resources/previews/001/928/973/original/rural-nature-road-scene-free-vector.jpg')
    repeat-x;
  background-size: contain;
  height: 100%;
  width: 5760px; /* The image width times 3 */
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1920px, 0, 0); /* The image width */
  }
}

#footer {
  text-align: center;
}

.relatorio-geral {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.relatorio-geral p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .relatorio-geral {
  display: flex;
  justify-content: space-between;
}

  .modal-title {
    font-size: 1.3rem;
  }

  .tabela {
    box-shadow: none;
  }

  .tabela thead {
    display: none;
  }

  .tabela td {
    border-bottom: none;
    padding: 0;
  }

  .tabela tr {
    height: 3.5rem;
    position: relative;
    padding: 0;
    font-size: 12px;
    display: block;
  }

  .tabela .nome-produto {
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    white-space: nowrap;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #tabelaGastos .nome-produto {
    left: 1rem;
  }

  .tabela .valor-produto {
    position: absolute;
    top: 0.5rem;
    right: 3.5rem;
    font-size: 15px;
  }
  
  #tabelaGastos .valor-produto {
    color: #d23333;
  }

  #tabelaVendas .valor-produto {
    color: #33d233;
  }

  #tabelaGastos .valor-produto::before {
    content: '-';
  }

  #tabelaVendas .valor-produto::before {
    content: '+';
  }

  .tabela .data {
    position: absolute;
    top: 1.7rem;
    right: 3.5rem;
    color: #777;
  }

  #tabelaVendas .nome-comprador {
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    color: #777;
  }

  #tabelaVendas .nome-comprador::before {
    content: 'Por ';
  }

  #tabelaVendas .forma-pagamento {
    position: absolute;
    top: 1.7rem;
    left: 1rem;
  }

  #tabelaVendas .forma-pagamento div {
    display: none;
  }

  #tabelaVendas .forma-pagamento .icone-pagamento {
    display: inline;
  }

  .tabela .deletar-linha {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
